<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script src="/libs/color-modes.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Shin Kobara's Portfolio</title>
  {{insert style.html}}

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  </style>
</head>

<body>
{{insert nav.html}}

  <div class="main">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src='/assets/images/own_top_10_1440x500.jpg' class="d-block">
          <div class="carousel-caption text-start">
            <h1>Geospatial Data Science & Engineering</h1>
            <p class="opacity-75">Python, SQL, Julia</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/own_top_13_1440x500.jpg" class="d-block">
          <div class="carousel-caption">
            <h1>Apply Science for Future</h1>
            <!-- <p>...</p>
            <p><a class="btn btn-lg btn-info" href="#">Learn more</a></p> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="/assets/images/floridakey1440x500.jpg" class="d-block">

            <div class="carousel-caption text-end">
              <h1>Observing Earth From Space</h1>
              <p>Geospatial Data Analysis</p>
              <!-- <p><a class="btn btn-lg btn-danger" href="#">Browse gallery</a></p> -->
            </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Thumbnails -->
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col col-md-4 col-12">
          <div class="card shadow-sm">
            <img src="/assets/images/slides/OWN_TOP-17.jpg" class="card-img-top" alt="shin_in_mexico">
            <div class="card-body">
              <p class="card-text">
                <h3>About Me</h3>
                Experience, Certificates, Resume.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/about"><button type="button" class="btn btn-sm btn-primary">View</button></a>
                </div>
                <!-- <small class="text-body-secondary">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-12">
          <div class="card shadow-sm">
            <img src="/assets/images/projects/webmapscatalog.jpg" class="card-img-top" alt="webmap">
            <div class="card-body">
              <p class="card-text">
                <h3>Projects</h3>
                Web Map Apps, GIS/Visualization
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/projects"><button type="button" class="btn btn-sm btn-warning">View</button></a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-body-secondary">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-12">
          <div class="card shadow-sm">
            <img src="/assets/images/projects/laptop-desk-p-1600x1067.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                <h3>Notes</h3>
                Python, SQL, Julia
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/notes"><button type="button" class="btn btn-sm btn-success">View</button></a>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </div>
                <!-- <small class="text-body-secondary">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <hr class="featurette-divider"> -->

      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Links</h2>
    
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">&nbsp;GitHub</h3>
              <p><a href="https://github.com/otwn">github.com/otwn</a><br>My Personal Github Account. Julia, Python, SQL, GIS</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">&nbsp;GitHub</h3>
              <p><a href="https://github.com/shin-kobara">github.com/shin-kobara</a><br>My Work Account. Python & SQL</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="blue" class="bi bi-linkedin" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">&nbsp;Linkedin</h3>
              <p><a href="https://linkedin.com/in/shin-kobara">My Linkedin Profile</a><br>Experiences, Course Work, Certificates</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
            </svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">&nbsp;Twitter</h3>
              <p><a href="https://twitter.com/gisp_shin">gisp_shin</a><br>AI, Geography, Space</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <img src="/assets/icon/note.svg" width="32" height="32">
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">no+e</h3>
              <p><a href="https://note.com/shinkobara/">note.com/shinkobara</a><br>GIS & SQL notes in Japanese</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="/assets/icon/zenn.svg" width="32" height="32">
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">zenn</h3>
              <p><a href="https://zenn.dev/otwn">zenn.dev/otwn</a><br>Julia contents in Japanese</p>
            </div>
          </div>

        </div>
      </div>
    

      <hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

{{ insert foot.html}}
