<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert nav.html}}
<div class="hero-section about-page">
  <h1>{{fill title}}</h1>
  <div class="hero-overlay"></div>
</div>
<div class="container py-3 px-3 mx-auto">
